<% if(successFlashMsg.length>0 && successFlashMsg){ %>
    <div class="alert alert-success mt-3 alert-dismissible fade show col-6 offset-3" role="alert">
        <%= successFlashMsg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>